@{
    ViewData["Title"] = "Корзина";
}

@model CartViewModel

<div class="container">
	@foreach (var el in Model.cart.cartItems)
	{
		<div class="alert alert-warning mt-3">
			<b>Продукт:</b> @el.product.name<br />
			<b>Цена:</b> @el.price.ToString("c")
		</div>
	}
	<hr />
	<a class="btn btn-danger" asp-controller="order" asp-action="Checkout">Оплатить</a>
</div>
